@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #F0C244;
  --secondary-color: #0B0421;
  --text-color: #fff;
  --background-color: #fffefe;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Caveat', cursive;
}

/* Global Styles */
body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
}

@media (max-width: 768px) {
  header nav {
      flex-direction: column;
      gap: 10px;
  }

  .intro_name {
      flex-direction: column;
  }

  .intro_name .yellow, .intro_name .blue {
      width: 100%;
      height: auto;
  }

  .intro_name .yellow img {
      position: relative;
      left: 0;
      top: 0;
      width: 80%;
      margin: 0 auto;
  }

  .intro_name .blue .intro_text {
      padding: 10px;
      position: relative;
      left: 0;
      top: 0;
  }

  .project-cards {
      flex-direction: column;
  }

  .project-card {
      max-width: 100%;
      height: auto;
  }

  .contact_section {
      padding: 20px;
  }

  .footer_section {
      padding: 10px;
  }
}
